<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiến độ đề tài</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home-page.css">
    <link rel="stylesheet" href="/css/progress-report.css">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{layout :: nav}"></div>
<div id="toast-container"></div> <!--toast thông báo mới-->
    <!-- Toast message -->
<div th:if="${errorMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="warningToast">
        <div class="toast-header bg-danger text-white">
            <strong class="me-auto">Thất bại</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>
</div>
<!-- Add Bootstrap Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Xác nhận nộp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                Nộp giai đoạn 4 sẽ đóng tất cả các giai đoạn. Bạn có chắc chắn muốn tiếp tục không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Nộp</button>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center h-100 progress-form">
    <div class="col-12 col-md-12 col-lg-8 col-xl-6 offset-xl-1">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <h1 class="lead fw-normal mb-0 me-3 main-title">Báo cáo tiến độ phát triển của trẻ</h1>
        </div>

        <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
        </div>

        <form id="progressForm" th:action="@{/topics/handle-progress-report/{id}(id=${topic.id})}" th:object="${reportTopic}" method="post" enctype="multipart/form-data">
            <input type="hidden" id="phaseNumber" th:field="*{phaseNumber}" />
            <label class="form-label fw-bold" for="topicName">Tên báo cáo</label>
            <div class="mb-4">
                <p id="topicName" class="form-control form-control-lg" th:text="${topic.name}"></p>
            </div>

            <label class="form-label fw-bold" for="file">File báo cáo</label>
            <div class="mb-4">
                <input type="file" id="file" class="form-control form-control-lg" th:field="*{reportFile}" th:attr="required=${reportTopic.reportLink == null}"/>
                <div th:if="${reportTopic.reportLink != null}" class="mt-2">
                    <a class="btn btn-outline-secondary" th:href="@{${reportTopic.reportLink}}" target="_blank" th:text="${#strings.substring(reportTopic.reportLink, reportTopic.reportLink.lastIndexOf('/') + 1, reportTopic.reportLink.indexOf('?'))}"></a>
                </div>
            </div>

            <!-- Progress Bar -->
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="fw-bold mb-0" th:text="|Giai đoạn *{phaseNumber} (Vui lòng tự đánh giá tiến độ phát triển của Trẻ)|"></p>
                <div class="d-flex align-items-center">
                    <p class="fw-bold mb-0 me-2" id="progressPercent" th:text="${reportTopic.phaseProgressPercent != null ? reportTopic.phaseProgressPercent : 0} + '%'"></p>
                    <label for="progressSlider"></label><input th:field="*{phaseProgressPercent}" type="range" id="progressSlider" min="0" max="100" step="1"
                                                               class="form-range" style="width: 80%;"
                                                               th:value="${reportTopic.phaseProgressPercent != null ? reportTopic.phaseProgressPercent : 0}">
                </div>
            </div>
            <!-- Progress Bar -->
            <div class="progress mb-4">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar" role="progressbar"
                     th:style="'width: ' + (${reportTopic.phaseProgressPercent} != null ? ${reportTopic.phaseProgressPercent} : 0) + '%'"
                     th:aria-valuenow="${reportTopic.phaseProgressPercent} != null ? ${reportTopic.phaseProgressPercent} : 0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>


            <div class="form-floating mb-4">
                <textarea id="content" class="form-control form-control-lg custom-height" th:field="*{reportContent}" placeholder="Nhập nội dung báo cáo" required></textarea>
                <label class="form-label" for="content">Nội dung báo cáo</label>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <button type="submit" class="btn btn-primary btn-lg me-2">  Báo cáo</button>
                <a th:href="@{/student/progress}" class="btn btn-secondary btn-lg" role="button" style="text-decoration: none;">
                    <i class="fas fa-arrow-left m-0" style="font-size: 1rem"></i> Trở về
                </a>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{layout :: footer}"></div>
<!-- JS Plugin -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const progressBar = document.getElementById('progressBar');
        const progressSlider = document.getElementById('progressSlider');
        const progressPercent = document.getElementById('progressPercent');

        function updateProgress(value) {
            progressBar.style.width = value + '%';
            progressBar.setAttribute('aria-valuenow', value);
            progressPercent.textContent = value + '%';
        }

        // Cập nhật khi người dùng thay đổi giá trị của thanh trượt
        progressSlider.addEventListener('input', function () {
            const value = progressSlider.value;
            updateProgress(value);
        });
    });

</script>
<!-- JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const progressForm = document.getElementById('progressForm');
        const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
        const confirmSubmit = document.getElementById('confirmSubmit');

        progressForm.addEventListener('submit', function (event) {
            const phaseNumber = document.getElementById('phaseNumber').value;
            if (parseInt(phaseNumber) === 4) {
                event.preventDefault();
                confirmModal.show();
            }
        });

        confirmSubmit.addEventListener('click', function () {
            progressForm.submit();
        });
    });
</script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
</body>
</html>