<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký Trẻ</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/home-page.css">
    <link rel="stylesheet" href="/css/team-register.css">
    <style>
        .profile-image {
            width: 220px;
            height: 340px;
            object-fit: cover;
            border-radius: 8px;
        }

        .form-control-plaintext {
            background-color: #f0f0f0;
            padding: 0.375rem 0.75rem;
            border-radius: 10px;
        }

        .modal-dialog {
            max-width: 70%;
        }

        .btn-info i {
            transition: transform 0.3s ease;
        }

        .btn-info:hover i {
            transform: scale(1.2);
        }
    </style>
</head>
<body>
<div th:replace="~{layout :: nav}"></div>
<div id="toast-container"></div> <!--toast thông báo mới-->
<div class="container">
    <div th:if="${errorMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="warningToast">
            <div class="toast-header bg-danger text-white">
                <strong class="me-auto">
                    <span th:if="${errorType == 'full'}">Thất bại</span>
                    <span th:if="${errorType == 'declined'}">Từ chối</span>
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
    </div>

    <div th:if="${successMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Thành công</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span th:text="${successMessage}"></span>
            </div>
        </div>
    </div>

    <div class="titles">
        <p class="mt-5 text-center fs-2">ĐĂNG KÍ NHÓM PHỤ HUYNH</p>
        <!-- Tìm kiếm -->
        <div class="d-flex justify-content-end">
            <b class="me-auto" style="font-weight: 700; font-size: 1.5rem;">Danh sách PHỤ HUYNH có thể mời:</b>

            <form th:action="@{/student/team}" method="get" class="d-flex">
                <input class="form-control me-2 custom-search" type="search"
                       placeholder="Tìm kiếm sinh viên theo tên hoặc MSSV..." aria-label="Tìm kiếm"
                       th:value="${search}"
                       name="search">
                <button class="btn btn-outline-primary me-2" type="submit" title="Tìm kiếm">
                    <span class="fas fa-search"></span>
                </button>
                <a th:href="@{/student/team}" class="btn btn-outline-danger" title="Reset">
                    <span class="fa-solid fa-arrows-rotate"></span>
                </a>
            </form>
        </div>
    </div>

    <div th:if="${invitation != null}">
        <div th:if="${list.isEmpty()}" style="width: 100%; margin: 0 auto">
            <div class="alert alert-warning text-center" role="alert">
                Không có dữ liệu
            </div>
        </div>
        <div>
            <table th:if="${!list.isEmpty()}"
                   class="table table-bordered table-striped table-hover text-center table-team">
                <thead class="table-dark">
                <tr>
                    <th style="width:5%;">STT</th>
                    <th style="width:30%;">Họ và Tên</th>
                    <th style="width:20%;">Mã số</th>
                    <th style="width:25%;">Ngày sinh</th>
                    <th style="width:10%;">Chi tiết</th>
                    <th th:if="${currentTeam != null and currentStudent.isLeader()}" style="width:10%;">Mời</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s, loop : ${list}">
                    <td style="width:5%;" th:text="${(currentPage - 1) * 5 + loop.index + 1}"></td>
                    <td style="width:30%;" th:text="${s.user.name}"></td>
                    <td style="width:20%;" th:text="${s.code}"></td>
                    <td style="width:25%;" th:text="${#dates.format(s.user.dob, 'dd/MM/yyyy')}"></td>
                    <td style="width:10%;">
                    <span class="btn-info" th:onclick="'loadStudentDetails(' + ${s.id} + ')'">
                        <i class="fas fa-eye"></i></span>
                    </td>
                    <td style="width:10%;" th:if="${currentTeam != null and currentStudent.isLeader()}">
                        <form th:action="@{/student/invite-team}" method="post">
                            <input type="hidden" name="studentId" th:value="${s.id}"/>
                            <span class="text-success" th:if="${s.team != null}"><span class="fas fa-check"
                                                                                       style="font-size: 1.2rem"></span></span>
                            <button class="btn-common btn-icons"
                                    th:if="${s.team == null and !invitationService.existsByStudentAndTeam(s, currentTeam)}"
                                    type="submit">Mời
                            </button>
                            <button class="btn-common btn-disable"
                                    th:if="${s.team == null and invitationService.existsByStudentAndTeam(s, currentTeam)}"
                                    disabled>Đã mời
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Phân trang -->
        <div th:replace="~{layout :: paging}"></div>
    </div>

    <div class="row mt-3" th:if="${currentTeam == null}">
        <h3 class="mt-5">LỜI MỜI THAM GIA NHÓM</h3>
        <br>
        <div th:if="${invitation.size() == 0}"
             class="w-100 py-3 text-center uppercase text-danger font-weight-bold py-3 border-top border-bottom">
            <h5 class="h-100 align-middle">
                BẠN CHƯA NHẬN ĐƯỢC LỜI MỜI NÀO ❗
            </h5>
        </div>
        <table class="table table-hover table-bordered" th:if="${invitation.size() > 0}">
            <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Tên Nhóm</th>
                <th class="text-center">Người mời</th>
                <th class="text-center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i, loop : ${invitation}">
                <td class="align-middle text-center" th:text="${loop.count}"></td>
                <td class="align-middle text-center" th:text="${i.team.name}"></td>
                <td class="align-middle text-center" th:text="${i.inviter.user.name}"></td>
                <td class="align-middle d-flex justify-content-center">
                    <form th:action="@{/student/invitation/handle}" method="post" class="me-1">
                        <input type="hidden" name="invitationId" th:value="${i.id}">
                        <input type="hidden" name="accept" value="true"/>
                        <button type="submit" class="btn btn-success">Xác nhận</button>
                    </form>
                    <form th:action="@{/student/invitation/handle}" method="post" class="ms-1">
                        <input type="hidden" name="invitationId" th:value="${i.id}">
                        <input type="hidden" name="accept" value="false"/>
                        <button type="submit" class="btn btn-danger">Từ chối</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="h-100 d-flex align-items-center justify-content-start my-4" th:if="${currentTeam != null}">
        <a th:href="@{/student/info-team}" class="btn btn-lg" role="button"
           style="background-color: #2887d7;color: white ;text-decoration: none;">
            Đi đến nhóm của bạn<i class="fas fa-arrow-right m-1" style="font-size: 1rem"></i>
        </a>
    </div>

    <div class="modal fade" id="studentDetailModal" tabindex="-1" aria-labelledby="studentDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="studentDetailModalLabel">Thông tin chi tiết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Hình ảnh -->
                        <div class="col-md-3 d-flex align-items-center">
                            <img id="studentAvatar" src="" alt="Sinh viên"
                                 class="profile-image">
                        </div>
                        <!-- Thông tin -->
                        <div class="info-container col-md-9">
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label class="form-label fw-bold ms-1">Tên TRẺ</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentName">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label fw-bold ms-1">Giới tính</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentGender">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label class="form-label fw-bold ms-1">Địa chỉ</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentAddress">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label fw-bold ms-1">Số điện thoại</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentPhoneNumber">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label class="form-label fw-bold ms-1">Ngày sinh</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentDob">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label fw-bold ms-1">Lớp</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentClazz">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <label class="form-label fw-bold ms-1">Email</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentEmail">
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label fw-bold ms-1">Nhóm</label>
                                    <input type="text" readonly class="form-control-plaintext" id="studentTeam">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Nút mở modal -->
    <div class="mt-3">
        <button class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#createTeamModal"
                th:if="${currentTeam == null}">
            Tạo nhóm
        </button>
    </div>
    <!-- Modal nhập tên nhóm -->
    <div class="modal fade" id="createTeamModal" tabindex="-1" aria-labelledby="createTeamModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="createTeamModalLabel" style="font-weight: 700">Tạo Nhóm Mới</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/student/create-team}" method="post" th:object="${team}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="teamName" style="font-weight: 500" class="form-label fs-4">Tên Nhóm: </label>
                            <input type="text" class="form-control" name="teamName" id="teamName"
                                   placeholder="Nhập tên nhóm" th:field="*{name}">
                            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:with="showModal=true">
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const modal = new bootstrap.Modal(document.getElementById('createTeamModal'));
                                        modal.show();
                                    });
                                </script>
                                <div th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Tạo Nhóm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout :: footer}"></div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
<script th:src="@{/js/details-student.js}"></script>
</body>
</html>
