
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký đề tài</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register-topic.css">
    <link rel="stylesheet" href="/css/home-page.css">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{layout :: nav}"></div>
<!-- Register Topic Form -->
<div class="topic-form">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- Back button -->
                <a href="/student/info-team" class="btn btn-secondary mb-4">
                    <i class="fas fa-arrow-left"></i> Trở lại
                </a>

                <!-- Error message -->
                <div th:if="${errorMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="warningToast">
                        <div class="toast-header bg-danger text-white">
                            <strong class="me-auto">Thất bại</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <span th:text="${errorMessage}"></span>
                        </div>
                    </div>
                </div>

                <form th:action="@{/student/handle-register-topic}" th:object="${registerTopic}" method="post" enctype="multipart/form-data" id="register-form">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h1 class="lead fw-normal mb-0 me-3 main-title">Đăng ký làm bài Test</h1>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0"></p>
                    </div>

                    <!-- Name input -->
                    <div class="form-floating mb-4">
                        <input type="text" id="name" class="form-control form-control-lg" th:field="*{name}" placeholder="Enter topic name" required/>
                        <label class="form-label" for="name">Tên bài Test</label>
                    </div>

                    <!-- Content input -->
                    <div class="form-floating mb-4">
                        <input type="text" id="content" class="form-control form-control-lg" th:field="*{content}" placeholder="Enter content" required/>
                        <label class="form-label" for="content">Nội dung bài Test</label>
                    </div>

                    <!-- Description input -->
                    <div class="form-floating mb-4">
                        <input type="file" id="description" class="form-control form-control-file" th:field="*{description}" placeholder="Upload description" accept=".xls,.xlsx,.doc,.docx,.ppt,.pptx" required/>
                        <label class="form-label" for="description">Mô tả (Excel, Word, PowerPoint)</label>
                    </div>

                    <!-- Image input -->
                    <div class="form-floating mb-4">
                        <input type="file" id="image" class="form-control form-control-file" th:field="*{image}" placeholder="Upload image" accept="image/*" required/>
                        <label class="form-label" for="image">Ảnh</label>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg w-100 w-lg-auto" id="submitButton">Đăng ký</button>
                    </div>
                </form>
            </div>

            <!-- Vertical line -->
            <div class="col-1 d-flex justify-content-center">
                <div class="vr" id="verticalLine"></div>
            </div>

            <!-- Topic list -->
            <div class="col-md-9 col-lg-6 col-xl-5 d-none d-md-block">
                <div th:if="${#lists.isEmpty(topics)}">
                    <p class="text-center text-danger fw-bold fs-4">Chưa có bài Test nào được duyệt hoặc hoàn tất</p>
                </div>
                <div th:unless="${#lists.isEmpty(topics)}">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Tên bài Test</th>
                            <th>Chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="topic : ${topics}">
                            <td class="text-center" th:text="${topic.id}"></td>
                            <td th:text="${topic.name}"></td>
                            <td>
                                <a th:href="@{/student/topic/{id}(id=${topic.id})}" class="btn btn-primary view-topic">Xem</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div id="pagination-container" class="d-flex justify-content-center" th:if="${totalPages > 1}">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" href="#" th:attr="data-page=${currentPage - 1}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" href="#" th:attr="data-page=${i}" th:text="${i + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                <a class="page-link" href="#" th:attr="data-page=${currentPage + 1}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Xác nhận điều hướng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nếu bạn chuyển sang trang tiếp theo, tất cả dữ liệu trong biểu mẫu sẽ bị mất. Bạn có muốn tiếp tục không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmNavigate">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{layout :: footer}"></div>
<!-- Script -->
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<!-- Disable submit button after form submission -->
<script>
    document.querySelector('form').addEventListener('submit', function() {
        document.getElementById('submitButton').disabled = true;
    });
</script>
<!-- Confirm navigation when form is not empty -->
<script>
    $(document).ready(function() {
        var targetPage;

        function isFormEmpty() {
            var isEmpty = true;
            $('form input[type="text"], form input[type="file"]').each(function() {
                if ($(this).val() !== '') {
                    isEmpty = false;
                    return false; // Break the loop
                }
            });
            return isEmpty;
        }

        $('#pagination-container').on('click', '.page-link', function(e) {
            e.preventDefault();
            targetPage = $(this).data('page');
            if (isFormEmpty()) {
                window.location.href = '/student/register-topic?page=' + targetPage;
            } else {
                $('#confirmModal').modal('show');
            }
        });

        $('#confirmNavigate').on('click', function() {
            window.location.href = '/student/register-topic?page=' + targetPage;
        });
    });
</script>
<!-- Adjust vertical line height -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formHeight = document.getElementById('register-form').offsetHeight;
        var verticalLine = document.getElementById('verticalLine');
        verticalLine.style.minHeight = formHeight + 'px';
    });
</script>
</body>
</html>
