<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>PROGRESS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/home-page.css">
    <link rel="stylesheet" href="/css/phase.css">
</head>
<body>
<div th:replace="~{layout :: nav}"></div>
<div id="toast-container"></div> <!--toast thông báo mới-->
<div th:if="${errorMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="warningToast">
        <div class="toast-header bg-danger text-white">
            <strong class="me-auto">Thất bại</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>
</div>
<div th:if="${success != null}" class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="success">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Hoàn thành</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <strong th:text="${success}"></strong>
        </div>
    </div>
</div>
<div th:if="${successMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Thành công</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span th:text="${successMessage}"></span>
        </div>
    </div>
</div>

<div class="info-team text-center">
    <p style="font-size: 2rem; font-weight: 700">Nhóm: <span th:text="${team.name}"></span></p>
    <p style="font-size: 1.5rem; font-weight: 555">Tên đề tài: <span th:text="${topic.name}"></span></p>
</div>
<div class="text-center py-4" th:if="${topic.status == 0}"><strong style="color: red; font-size: 2rem">Đề tài đang được
    kiểm duyệt!</strong></div>
<div class="alert text-center" style="background-color: #282781" th:if="${topic.status == 2}"><strong
        style="color: white; font-size: 2rem">Nhóm của bạn đã hoàn thành đề tài!</strong></div>
<div class="container" th:if="${topic.status == 1 || topic.status == 2}">
    <p class="fw-bold text-center fs-4">Thành viên trong nhóm</p>
    <div class="card-info-team-container">
        <div th:each="s : ${students}">
            <div class="card-info-team">
                <img th:src="${s.user.avatar != null ? s.user.avatar.url : 'https://firebasestorage.googleapis.com/v0/b/cv-pdf-upload.appspot.com/o/casestudym5%2Favatar%2Fdefault-avatar.png?alt=media&token=a7b21608-1b68-45e0-9d6e-a5fcbcaac12e'}"
                     alt="image" width="100" height="100">
                <h5 class="mt-3 fw-bold no-wrap" style="color: #0088cc" th:text="${s.user.name}"></h5>
                <p class="text-start">
                    <span class="fas fa-id-card me-1 "></span><strong>MSSV: </strong> <span th:text="${s.code}"></span>
                </p>
                <p class="text-start">
                    <span class="fas fa-calendar-alt me-1"></span><strong>Ngày sinh: </strong> <span
                        th:text="${#dates.format(s.user.dob, 'dd/MM/yyyy')}"></span>
                </p>
                <p class="text-start">
                    <span class="fas fa-graduation-cap me-1"></span><strong>Lớp: </strong> <span
                        th:text="${s.clazz.name}"></span>
                </p>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Tiến độ</h3>

    <div th:each="phase : ${phases}">
        <div class="phase-row">
            <button class="phase-button" th:text="'BÁO CÁO GIAI ĐOẠN ' + ${phase.phaseNumber}"
                    th:disabled="${phase.status == 0 and topic.status == 2}"
                    sec:authorize="hasRole('STUDENT')"
                    th:onclick="'window.location.href=\'/topics/' + ${topic.id} + '/progress/' + ${phase.phaseNumber} + '\';'">
                BÁO CÁO GIAI ĐOẠN
            </button>
            <div class="phase-info">
                <div class="date-range">
                    Giai đoạn <span th:text="${phase.phaseNumber}"></span> : Từ
                    <span class="highlight-date" th:text="${#temporals.format(phase.startDate, 'dd/MM/yyyy')}"></span>
                    đến
                    <span class="highlight-date" th:text="${#temporals.format(phase.endDate, 'dd/MM/yyyy')}"></span>

                    <span class="status-badge fw-bold"
                          th:classappend="${phase.status == 1 ? 'badge-danger' : (phase.status == 0 ? 'badge-secondary' : 'badge-success')}"
                          th:text="${phase.status == 1 ? 'Đang thực hiện' : (phase.status == 0 ? 'Chưa mở' : 'Hoàn thành')}"></span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         th:classappend="${phase.status == 0 ? 'bg-secondary' : (phase.status == 1 ? 'bg-danger' : 'bg-info')}"
                         role="progressbar"
                         th:style="'width: ' + ${phase.status == 0 ? '0%' : (phase.status == 1 ? '1' : phase.phaseProgressPercent) + '%'}">
                        <span class="progress-text" th:if="${phase.status == 2}" th:text="${phase.phaseProgressPercent} + '%'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-phase">
        <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="report-tab" data-bs-toggle="tab" href="#report" role="tab"
                   aria-controls="report" aria-selected="false" style="color: #2c3e50">BÁO CÁO CỦA PHỤ HUYNH</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="feedback-tab" data-bs-toggle="tab" href="#feedback" role="tab"
                   aria-controls="feedback" aria-selected="false" style="color: #2c3e50">THẮC MẮC CỦA PHỤ HUYNH</a>
            </li>
        </ul>
        <input type="hidden" id="isTeacher"
               th:value="${#authorization.expression('hasRole(''TEACHER'')') ? 'true' : 'false'}"/>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <!-- Tab 2: Báo Cáo Của Sinh Viên -->
                <div class="tab-pane fade show active" id="report" role="tabpanel" aria-labelledby="report-tab">
                    <h5 class="content-title text-center fw-bold">Báo cáo tiến độ của sinh viên</h5>
                    <div class="editor-container" th:id="show-report">
                        <div class="top1" th:each="report : ${reportedPhases}" th:id="'report-' + ${report.id}"
                             th:if="${report.status == 2}">
                            <!-- Report phase -->
                            <div class="message-container">
                                <div class="d-flex">
                                    <div class="me-3">
                                        <img th:src="${report.reporter?.avatar?.url}"
                                             width="50px" height="50px" alt="Avatar" class="avatar">
                                    </div>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-center mb-2">
                                            <strong class="mb-0 me-2" th:text="${report.reporter?.name}"></strong>
                                        </div>
                                        <div class="phase-number-card">
                                            <span th:text="'Giai đoạn ' + ${report.phaseNumber}"></span>
                                        </div>
                                        <p class="mb-2" th:text="${report.reportContent}"></p>
                                        <div class="d-flex justify-content-between align-items-center comment-actions">
                                            <span class="timestamp ms-auto"
                                                  th:text="${#dates.format(T(java.util.Date).from(report.reportDate.atZone(T(java.time.ZoneId).systemDefault()).toInstant()), 'dd/MM/yyyy HH:mm:ss')}"></span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a th:href="${report.reportFile.url}"
                                               class="btn btn-primary btn-sm mb-2 file-download-button" target="_blank">Xem
                                                tệp báo cáo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab 3: :Thắc mắc của Sinh viên -->
            <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                <!--                <h4 class="content-title text-center fw-bold">Thắc mắc sinh viên</h4>-->
                <div class="container tab-content py-4 d-flex align-items-center justify-content-center">
                    <div class="card cards">
                        <div class="card-body card-bodys">
                            <!-- Thắc mắc của sinh viên -->
                            <div id="show-comment">
                                <div class="d-flex gap-3 mb-3 question-container" th:each="comment : ${comments}"
                                     th:id="'comment-' + ${comment.id}">
                                    <img th:src="${comment.studentAvatar}"
                                         width="50px" height="50px"
                                         alt="Profile" class="profile-img">
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between align-items-start mb-2">
                                            <div>
                                                <h6 class="mb-0 fw-bold" th:text="${comment.studentName}"></h6>
                                            </div>
                                            <span class="timestamp" th:text="${comment.createdTimeDifference}"></span>
                                        </div>
                                        <p class="mb-2" th:text="${comment.content}"></p>
                                        <button class="btn btn-sm-reply"
                                                th:id="'btn-show-reply-'+${comment.id}"
                                                sec:authorize="hasRole('TEACHER')"
                                                th:if="${comment.reply == null || comment.reply == ''}"
                                                onclick="toggleQuestion(this)">
                                            <i class="fas fa-reply"></i> Trả lời
                                        </button>

                                        <!-- Ô trả lời bên trong khung -->
                                        <div class="reply-container" style="display: none; margin-top: 10px;">
                                            <div class="d-flex align-items-center gap-2">
                                                <input th:id="'reply-box-'+${comment.id}" class="form-control"
                                                       placeholder="Nhập câu trả lời của bạn...">
                                                <button class="btn btn-outline-primary btn-reply"
                                                        th:attr="data-topic-id=${topic.id}, data-comment-id=${comment.id}">
                                                    <i class="fas fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="divider"
                                             th:if="${comment.reply != null && comment.reply != ''}"></div>

                                        <!-- Giảng viên trả lời -->
                                        <div class="teacher-reply"
                                             th:if="${comment.reply != null && comment.reply != ''}">
                                            <div class="d-flex gap-3">
                                                <img th:src="${comment.teacherAvatar}"
                                                     width="50px" height="50px"
                                                     alt="Profile" class="profile-img">
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-start mb-2">
                                                        <div>
                                                            <h6 class="mb-0 fw-bold"
                                                                th:text="${comment.teacherName}"></h6>
                                                        </div>
                                                        <span class="timestamp"
                                                              th:text="${comment.repliedTimeDifference}">0 06/04/2021</span>
                                                    </div>
                                                    <p class="mb-0" th:text="${comment.reply}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Sinh viên comment-->
                            <div id="questionInput" sec:authorize="hasAnyRole('STUDENT')">
                                <div class="d-flex align-items-center">
                                    <label for="comment-box"></label><input class="form-control" id="comment-box"
                                                                            placeholder="Bạn có thắc mắc gì...?">
                                    <button class="btn btn-outline-primary btn-send ms-2"
                                            th:attr="data-topic-id=${topic.id}">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout :: footer}"></div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/comment.js}"></script>
<script th:src="@{/js/phase.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
</body>
</html>
