.pt-5 {
    padding-top: 5rem !important;
}

select {
    padding: 10px;
    word-wrap: normal;
}

.table-container {
    height: 350px;
    overflow-y: auto;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Các trường input và textarea */
input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

/* Hover effect for submit button */
button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.875rem;
}

/* Tùy chỉnh bảng tài liệu */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f1f1f1;
}

/* Pagination */
.pagination {
    margin-top: 20px;
}
