.student-list {
    margin-top: 5rem;
    min-height: 600px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-top: 3rem;
}

.form-control {
    margin-right: 1rem;
}

.form-select {
    margin-right: 1rem;
}

.btn-primary {
    width: 400px;
}

.btn-danger {
    width: 500px;
}

.alert-warning {
    text-align: center;
}

.card-info-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1440px; /* Adjust the width to fit 5 cards */
    margin: 0 auto; /* Center the container */
}

.card-info-team {
    flex: 1 1 calc(20% - 40px); /* 20% width minus the gap */
    width: 300px; /* Ensure the card does not exceed its intended size */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    min-height: 550px;
}

.card-image {
    margin-bottom: 1rem;
    align-items: center;
}

.card-info-team img {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.pagination-container {
    margin-top: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.card-info-team a {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
}

.card-info-team a:hover {
    color: #0056b3; /* Darker shade of the primary color */
    text-decoration: underline; /* Add underline on hover */
}