.titles {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #282781;
    font-size: 3rem;
    font-weight: 700;
}
.table thead tr, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table-team {
    height: 300px;
}

.btn-common {
    font-weight: bold;
    width: 70px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.btn-icons {
    background-color: #50a251;
    color: white;
}

.btn-disable {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.custom-search {
    width: 350px; /* Điều chỉnh chiều rộng của ô search */
    border-color: #007bff; /* Màu viền xanh dương */
}