.ann-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.ann-card {
    height: 400px;
    width: 280px;
    border-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.ann-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.ann-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.ann-image-container:hover .ann-image {
    transform: scale(1.3);
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ann-title {
    font-size: 1.4rem;
    font-weight: 555;
    line-height: 1.4;
    height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.view-details {
    color: #ff4444;
    text-decoration: none;
    font-weight: 500;
}

.view-details:hover {
    color: #cc0000;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}