<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lí nhóm sinh viên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home-page.css">
    <link rel="stylesheet" href="/css/team-list.css">
</head>
<body>
<div th:replace="layout :: nav" ></div>
<div id="toast-container"></div> <!--toast thông báo mới-->
<div class="toast-container position-fixed top-0 end-0 p-3"></div> <!--toast-->
<div class="container search-container">
    <form th:action="@{/teacher/team}" method="get" >
        <label>
            <input type="text" class="form-control me-5" name="name" placeholder="Tên nhóm" th:value="${keyword}">
        </label>
        <button type="submit" class="btn btn-primary me-1">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="margin-bottom">
    <div th:if="${teams.isEmpty()}" style="width: 90%; margin: 0 auto">
        <div class="alert alert-warning text-center" role="alert">
            Không có dữ liệu
        </div>
    </div>

    <div th:if="${!teams.isEmpty()}" class="table-container" >
        <table class="table table-striped table-bordered">
            <thead class="table-dark" style="text-align: center">
            <tr>
                <th>STT</th>
                <th>Tên nhóm</th>
                <th>Số Trẻ trong nhóm</th>
                <th>Thời hạn nộp</th>
                <th>Mô tả</th>
                <th>Yêu cầu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, it : ${teams}">
                <td th:text="${it.index + 1}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.memberCount}"></td>
                <td>
                    <span th:if="${team.deadline == null}" th:text="'---'"></span>
                    <span th:if="${team.deadline != null}" th:text="${#dates.format(team.deadline, 'dd/MM/yyyy')}"></span>
                </td>
                <td>
                    <a th:href="@{'/progress/' + ${team.topicId}}" class="btn btn-info" th:classappend="${team.topicId == null ? 'disabled' : ''}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-danger" th:attr="data-team-name=${team.name}, data-team-id=${team.id}"  onclick="handleDeleteClick(this)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary " th:attr="data-team-id=${team.id}, data-current-deadline=${#dates.format(team.deadline, 'dd/MM/yyyy')}" onclick="showDeadlineModal(this)" >Hạn cuối nộp dự án</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center" th:if="${totalPages > 0}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a th:if="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${currentPage - 1}}">Trước</a>
                    <a th:unless="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${currentPage - 1} + '&name=' + ${keyword}}">Trước</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                    <a th:if="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${i}}" th:text="${i + 1}"></a>
                    <a th:unless="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${i} + '&name=' + ${keyword}}" th:text="${i + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a th:if="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${currentPage + 1}}">Sau</a>
                    <a th:unless="${keyword == ''}" class="page-link" th:href="@{'/teacher/team?page=' + ${currentPage + 1} + '&name=' + ${keyword}}">Sau</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Deadline Modal -->
<div class="modal fade" id="deadlineModal" tabindex="-1" aria-labelledby="deadlineModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deadlineModalLabel">Cập nhật hạn cuối nộp báo cáo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deadlineForm">
                    <div class="mb-3">
                        <label for="currentDeadline" class="form-label">Hạn nộp hiện tại</label>
                        <input type="text" class="form-control" id="currentDeadline" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="newDeadline" class="form-label">Hạn nộp mới</label>
                        <input type="date" class="form-control" id="newDeadline">
                    </div>
                    <span id="deadlineError" class="text-danger"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="saveDeadlineButton">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="layout :: footer" class="margin-top"></div>

<!-- Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa nhóm <span id="teamNameToDelete"></span> không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/team-list.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
