<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Đăng Nhập </title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <!--link các icon trong footer-->
    <link rel="stylesheet" href="/css/login-form.css">
    <link rel="stylesheet" href="/css/home-page.css">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{layout :: nav}"></div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <!-- Success Toast Change Password -->
    <div th:if="${toastType == 'success'}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Thành công</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Mật khẩu đã cập nhật. Vui lòng đăng nhập lại</div>
    </div>

    <!-- Success Toast Logout -->
    <div th:if="${toastMessage != null}" class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Thành công</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body"><span th:text="${toastMessage}"></span></div>
        </div>
    </div>

</div>
<!-- Login Form -->
<div class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 d-none d-md-block">
                <img src="https://happychild.vercel.app/assets/new-logo.08e032e4.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form th:action="@{/authenticateUser}" method="post">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h1 class="lead fw-normal mb-0 me-3 main-title">Đăng Nhập</h1>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0"></p>
                    </div>

                    <!-- Error message -->
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Sai tên đăng nhập hoặc mật khẩu!
                    </div>

                    <!-- Email input -->
                    <div class="form-floating mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" th:value="${email}" name="email" required/>
                        <label class="form-label" for="form3Example3">Địa chỉ email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-floating mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" th:value="${password}" autocomplete="current-password"
                               name="password" required/>
                        <label class="form-label" for="form3Example4">Mật khẩu</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg w-100 w-lg-auto login-btn">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="~{layout :: footer}"></div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/toast-noti.js}"></script>
</body>
</html>
