<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thông Báo Đề Tài</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
        }
    </style>
</head>
<body style="margin:0; background: #f8f8f8;">
<div  th:if="${topic.approved == 1}" style="background: #f8f8f8; padding: 0; line-height: 28px; height: 100%; width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding: 50px 0; margin: 0 auto; font-size: 14px;">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>Xin chào các thành viên của nhóm <strong th:text="${teamName}"></strong>,</p>
                        <p>Bài Test của các bạn:  <strong th:text="${topicName}"></strong><span th:text="${action}">"trạng thái"</span></p>
                        <p>Vui lòng kiểm tra thông tin trên hệ thống để biết thêm chi tiết.</p>
                        <p>Bạn có thể xem thông tin bài Test ngay bây giờ:</p>
                        <a th:href="@{http://localhost:8080/topics/{id}(id=${topicId})}"
                           style="display: inline-block; background-color: #282781; color: white;
                                  padding: 10px 20px; text-decoration: none; border-radius: 50px; font-size: 16px;">
                            Xem Đề Tài
                        </a>
                        <p>Xin cảm ơn!</p>
                        <p style="font-weight:300">- <span th:text="${teacherName}">Đội ngũ</span> -</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <p style="text-align: center">
                <span style="color: #ff0000;">*</span>
                Đây là mail tự động vui lòng không phản hồi!
            </p>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px;">
            <p>HappyChild</p>
        </div>
    </div>
</div>
<div th:unless="${topic.approved == 1}" style="background: #f8f8f8; padding: 0; line-height: 28px; height: 100%; width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding: 50px 0; margin: 0 auto; font-size: 14px;">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>Xin chào các thành viên của nhóm <strong th:text="${teamName}"></strong>,</p>
                        <p>Bài test của các bạn:  <strong th:text="${topicName}"></strong><span th:text="${action}">"trạng thái"</span></p>
                        <p>Lý do từ chối: <i><strong th:text="${reason}"></strong></i></p>
                        <p>Bạn có thể đăng ký Chuyên gia hướng dẫn mới và tiến hành đăng ký lại bài Test.</p>
                        <a th:href="@{http://localhost:8080/student/info-team}"
                           style="display: inline-block; background-color: #282781; color: white;
                                  padding: 10px 20px; text-decoration: none; border-radius: 50px; font-size: 16px;">
                            Tiến hành đăng ký
                        </a>
                        <p>Xin cảm ơn!</p>
                        <p style="font-weight:300">- <span th:text="${teacherName}">Đội ngũ</span> -</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <p style="text-align: center">
                <span style="color: #ff0000;">*</span>
                Đây là mail tự động vui lòng không phản hồi!
            </p>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px;">
            <p>HappyChild</p>
        </div>
    </div>
</div>
</body>
</html>
